<footer class="bg-dark text-white pt-5 pb-3 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <h5><i class="fas fa-rocket me-2"></i>InnovateStart</h5>
        <p>Impulsando el emprendimiento y la innovación desde 2020.</p>
      </div>
      <div class="col-md-4 mb-4">
        <h5>Enlaces rápidos</h5>
        <ul class="list-unstyled">
          <li>
            <a
              href="#"
              data-route="/"
              class="text-white-50 text-decoration-none"
              >Inicio</a
            >
          </li>
          <li>
            <a
              href="#"
              data-route="/informacion"
              class="text-white-50 text-decoration-none"
              >Información</a
            >
          </li>
          <li>
            <a
              href="#"
              data-route="/galeria"
              class="text-white-50 text-decoration-none"
              >Galería</a
            >
          </li>
          <li>
            <a
              href="#"
              data-route="/tabla"
              class="text-white-50 text-decoration-none"
              >Planes</a
            >
          </li>
          <li>
            <a
              href="#"
              data-route="/contacto"
              class="text-white-50 text-decoration-none"
              >Contacto</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-4 mb-4">
        <h5>Síguenos</h5>
        <a href="#" class="text-white-50 me-3"
          ><i class="fab fa-facebook fa-2x"></i
        ></a>
        <a href="#" class="text-white-50 me-3"
          ><i class="fab fa-twitter fa-2x"></i
        ></a>
        <a href="#" class="text-white-50 me-3"
          ><i class="fab fa-linkedin fa-2x"></i
        ></a>
        <a href="#" class="text-white-50"
          ><i class="fab fa-instagram fa-2x"></i
        ></a>
      </div>
    </div>
    <hr class="bg-secondary" />
    <div class="text-center">
      <p class="mb-0">
        &copy; 2025 InnovateStart - Todos los derechos reservados
      </p>
    </div>
  </div>
</footer>
