<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <i class="fas fa-rocket me-2"></i>
        <strong>InnovateStart</strong>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarMain"
        aria-label="Menú de navegación"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html"
              ><i class="fas fa-home me-1"></i>Inicio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="informacion.html"
              ><i class="fas fa-info-circle me-1"></i>Información</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="galeria.html"
              ><i class="fas fa-image me-1"></i>Galería</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tabla.html"
              ><i class="fas fa-table me-1"></i>Planes</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacto.html"
              ><i class="fas fa-envelope me-1"></i>Contacto</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
